@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  display: grid;
  place-items: center;
  place-content: center;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: rgb(0, 132, 255);
  font-size: 120%;
  overflow: hidden;
}

.card {
  background: #202020d0;
  color: white;
  padding: 25px;
  border-radius: 30px;
  width: 200px;
  margin-top:5%;
  transform: scale(0.8);
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  display: grid;
  place-items: center;
  margin: 4px;
  border-radius: 50%;
  border: none;
  height: 36px;
  width: 36px;
  outline: none;
  background: #7c7c7c2b;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

input.search-bar {
  margin-left: -9px;
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: #7c7c7c2b;
  color: white;
  font-family: inherit;
  font-size: 80%;
  width: calc(100% - 75px);
}

button:hover {
  background: #6c71886b;
}

h1.temp {
  margin: 0;
  margin-bottom: 0.4em;
}

.flex {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
}
.city {
  font-size:18px;
}
.searchicon {
 opacity: 0.35;
 transform: scale(0.8);
}
.description {
  text-transform: capitalize;
  margin-top:4px;
  margin-bottom:9px;
}
.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}
.humidity {
  font-size:12px;
}
.wind {
  font-size:10px;
}
.high {font-size:12px; margin-right:5px;}
.low {font-size:12px;}
.flexhl {
  display: inline-flex;
  width:90%;
  margin-bottom: 12px;
}
.cityicon {
  width:20px;
  height:auto;
  margin-left:5%;
}
.flexcity {
  display: inline-flex;
  width:90%;
}
.icon {
  width:50px;
  height:auto;
  margin-left: -5%;
}
.feelslike {
  font-size:12px;
}
.weather.loading:after {
  visibility: visible;
  content: "Loading...";
  color: white;
  position: absolute;
  top: 0;
  left: 20px;
}
.lay-waves {
  opacity: 0.3;
  position: absolute;
  aspect-ratio: 600/900;
  height: auto;
  width:100%;
  margin-left:-50%;
  margin-top:-10%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border:none;
  z-index:-2;

}