@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: rgb(0, 132, 255);
  font-size: 120%;
  overflow: hidden;
}

.card {
  background: #202020d0;
  color: white;
  padding: 25px;
  border-radius: 30px;
  width: 100%;
  margin: 5px;
  transform: scale(0.8);
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin-left: 1.5em;
  border-radius: 50%;
  border: none;
  height: 36px;
  width: 36px;
  outline: none;
  background: #7c7c7c2b;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

input.search-bar {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: #7c7c7c2b;
  color: white;
  font-family: inherit;
  font-size: 80%;
  width: calc(100% - 70px);
  margin-left:-10px;
}

button:hover {
  background: #7c7c7c6b;
}

h1.temp {
  margin: 0;
  margin-bottom: 0.4em;
}

.flex {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-left: -10px;
}


.description {
  text-transform: capitalize;
  margin-top:4px;
}

.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.weather.loading:after {
  visibility: visible;
  content: "Loading...";
  color: white;
  position: absolute;
  top: 0;
  left: 20px;
}